<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Nuestros Servicios</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/aceites.jpg" ></a>
                <div class="portfolio-caption">
                    <h4>Análisis de aceites lubricantes</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/grasas.jpg"   ></a>
                <div class="portfolio-caption">
                    <h4>Análisis de grasas lubricantes</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/refrigerante.jpg" ></a>
                <div class="portfolio-caption">
                    <h4>Análisis de refrigerantes</h4>

                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/calibracion.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Calibración de equipos</h4>

                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid img-fluid" src="assets/img/proyects/resultados.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Interpretación de resultados</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/predictivo.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Mantenimiento predictivo</h4>
                </div>
            </div>
        </div>
    </div>
</section>