<nav class="navbar navbar-dark navbar-expand-lg" id="mainNav" style="opacity: 1;background-color: rgba(21,74,125,1);">
    <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" routerLink="home"  style="color: rgb(231, 228, 225);">
            <img src="assets/img/logo.png" width = "120px">
        </a>
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(0, 0, 0);"><i class="fa fa-bars" style="color: rgba(0, 0, 0, 0.75);"></i>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="aboutus" style="color: rgb(231, 228, 225);">Acerca de Nosotros</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="contactus" style="color: rgb(231, 228, 225);">Contactenos</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="servicios" style="color: rgb(231, 228, 225);">Servicios</a></li>

            </ul>
            <a class="btn btn-primary text-black-50 border-dark" role="button" routerLink="login" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);border:none;">Acceder</a></div>
    </div>
</nav>

<section style="min-height: 600px; padding-top:0px; padding-bottom:0px; ">
    <router-outlet></router-outlet>
</section>

