

<form class="form-login" href="login.component.css">
    <h5>Registro de equipo</h5>
    <input formControlName="nombre" type="text" class="controls" placeholder="Nombre">
    <input formControlName="marca" type="text" class="controls" placeholder="Marca">
    <input formControlName="modelo" type="text" class="controls" placeholder="Modelo">

    <a href="mainpage">
        <input type="button" class="button" value="Añadir componentes" style="background-color:grey;">
    </a>

    <a href="#">
        <input type="button" class="button" value="Registrar">
    </a>


    <p><a href="contactus">¿Olvidaste tu contraseña?</a></p>
</form>

    