<div class="container" style="padding-top: 120px;">
    <h3>Acerca de nosotros</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, sit ipsum! Tenetur cum eligendi aperiam incidunt, distinctio sed, reprehenderit iure neque porro quasi ducimus laudantium a dignissimos! Exercitationem, hic odit!
    </p>
    <h3>
        Misión
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repellat ipsa repudiandae quod. Ipsum consequatur amet labore deleniti odit et delectus nisi quia ducimus aspernatur architecto a repudiandae, animi repellat!
    </p>
    <h3>
        Visión
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, natus nesciunt quidem asperiores perspiciatis voluptate, fugit debitis eum aspernatur velit corrupti at molestias ab deleniti. Recusandae amet accusamus totam reiciendis.
    </p>
</div>
